.forecast-container {
  display: grid;
  grid-template-areas: 'forecast-item forecast-item forecast-item forecast-item forecast-item';
  gap: 16px;
  justify-items: center;
  text-align: center;
}

.forecast-item-title {
  font-size: 16px;
  color: #ffffffcc;
}
.forecast-item-tempmax {
  font-size: 18px;
}
.forecast-item-tempmin {
  font-size: 14px;
  color: #ffffffcc;
}

.forecast--weather-icon {
  max-width: 50px;
}
