.info-container {
  display: grid;
  grid-template-areas:
    'info-item info-item info-item'
    'info-item info-item info-item';
  gap: 20px;
  justify-items: center;
  text-align: center;
}

.info-item {
}

.label {
  font-size: 20px;
}

.descriptive-info {
  font-size: 16px;
  color: #ffffffcc;
}

.details-container {
  display: grid;
  gap: 1rem;
}
