.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'location temp'
    'weather-item minmax';
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 175, 193, 0.1);
  background-color: #00afc1;
  align-items: center;
  padding: 0.5rem;
}

.card--location {
  display: block;
  align-items: center;
  grid-area: location;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
}

.card--weather-item {
  display: grid;
  grid-template-columns: 55px auto;
  align-items: center;
  grid-area: weather-item;
}
.card--weather-icon {
  max-width: -webkit-fill-available;
}

.card--weather-description {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: left;
}
.card--temp-current {
  grid-area: temp;
  min-width: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: right;
}
.card--minmax {
  grid-area: minmax;
  min-width: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  align-items: center;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: right;
}

.detail-card {
  background-color: #00afc1;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /*border-radius: 10px; /* 5px rounded corners */
  align-items: center;
  min-height: 300px;
}
