.bigcard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3fr);
  grid-template-areas:
    'location location'
    'icon temp'
    'desc minmax';
  border-radius: 8px;
  box-shadow: 1px 1px 10px rgba(0, 175, 193, 0.1);
  background-color: #00afc1;
  align-items: center;
  justify-items: center;
  padding: 0.5rem;
}

.bigcard--location {
  display: block;
  align-items: center;
  grid-area: location;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  /* identical to box height */
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: center;
  padding: 0.5rem;
}

.bigcard--icon {
  grid-area: icon;
}
.bigcard--temp-current {
  grid-area: temp;
  min-width: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  /* identical to box height */
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: center;
}
.bigcard--weather-description {
  grid-area: desc;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: center;
}
.bigcard--minmax {
  grid-area: minmax;
  min-width: 15%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.09);
  text-align: center;
}
