.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto;
  grid-template-areas:
    'header'
    'main';
  margin: auto;
  text-align: center;
  gap: 20px;
  background-color: #0093ab;
  color: white;
  height: 100vh;
}

.header {
  max-height: fit-content;
  margin: 1rem;
  grid-area: header;
  text-align: left;
}
.main {
  max-height: fit-content;
  grid-area: main;
}

.card-container {
  display: grid;
  margin: 1rem;
  gap: 1rem;
}
