.App {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px auto 100px;
  grid-template-areas:
    'header'
    'main'
    'footer';
  padding: 1rem;
  gap: 20px;
  background-color: #006778;
  color: white;
  min-height: 100vh;
  min-width: fit-content;
  font-family: 'Inter-Regular';
}

.header {
  max-height: fit-content;
  grid-area: header;
  text-align: left;
}

.page-title {
  font-size: 32px;
}
.main {
  max-height: fit-content;
  grid-area: main;
}

.footer {
  display: grid;
  grid-area: footer;
  align-items: center;
  grid-template-areas: '. .';
}

.card-container {
  display: grid;
  gap: 1rem;
}
